* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d6d2c8;
}
.nav-main {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 1;
  padding-left: 15px;
  /* border-bottom: 2px solid black; */
}
.nav-main ul {
  display: flex;
}
.nav-main ul li {
  padding: 15px;
}
a {
  color: black;
  text-decoration: none;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
}
li {
  list-style: none;
}
.nav-main .brand {
  width: 140px;
}
.banner {
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(42, 48%, 49%, 0.61),
      hsla(32, 61%, 27%, 0.466)
    ),
    url(./img/bg.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 950px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.banner .banner-img {
  top: 0px;
  width: 80%;
  display: block;
  margin: auto;
  /* position: absolute; */
}
section {
  padding: 60px 0;
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.banner .wave {
  bottom: 0;
  position: absolute;
  width: 100%;
}
/* POST BANNER */
.post-banner{
  width: 80%;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post-banner .h1{
  margin-bottom: 20px;
  font-family: 'Exo 2', sans-serif;
  font-size: 64px;
  color: #979562;
  padding-bottom: 20px;
}
.post-banner .post-banner-img {
  width: 30%;
  border-radius: 3%;
}
.post-banner .contenedor-about-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.post-banner .contenedor-about-us .articles {
  
  width: 70%;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}
.post-banner .contenedor-about-us .articles .art1{
  margin-bottom: 50px;
}
.articles h3{
  margin-bottom: 15px;
  font-family: 'Exo 2', sans-serif;
}
.articles h3 span{
 background: #979562;
 color: white;
 width: 30px;
 height: 30px;
 display: inline-block;
 border-radius: 50%;
 text-align: center;
 box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5 );
 margin-right: 10px;
}
.articles p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  text-align: justify;
}
/* CARDS */
.more{
  width: 85%;
  display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.more .cards{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 2%;
}
.more h1{
  margin-bottom: 20px;
  font-family: 'Exo 2', sans-serif;
  font-size: 64px;
  color: #979562;
  padding-bottom: 20px;
}
.cards p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  font-weight: 200;
  text-align: justify;
  /* background-color: rgba(255, 255, 255, 0.26); */
  padding: 10px;
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  border-radius: 2%;
}
.cards .card:hover p{
  opacity: 1;
  transform: translateY(0);
}
.card{
  width: 25%;
  height: 300px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.card:hover{
  transform: translateY(20px);
}
.card:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      hsla(51, 47%, 84%, 0.438),
      hsla(44, 51%, 60%, 0.432)
    );
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 2%;
}
.card:hover:before{
  opacity: 1;

}
/* footer */
.sec1{
  background-color: #74706c36;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 1;
  padding-left: 15px;
}
.sec1 img{
  width: 145px;
  height: 100%;
}
.sec1 a{
  font-size: 30px;
  font-weight: 500px;
}
.sec1 a:hover{
  color: white;
}


@media  screen and (max-width:1400px){
  .banner{
    height: 600px;
  }
}
